# Mac stuff
.DS_Store

# IntelliJ stuff - ignore most .idea contents
.idea/*
*.iws
out/

# But keep these important IntelliJ configuration files
!.idea/modules.xml
!.idea/misc.xml
!.idea/*.iml
!.idea/encodings.xml
!.idea/compiler.xml
!.idea/jarRepositories.xml

# Module files - keep all of these
*.iml
!*.iml

# Build folders
target/
build/